build:
  performance:
    test-performance-small-grakn-background:
      machine: graknlabs-ubuntu-20.04-long
      type: background
      timeout: "18000"
      script: |
#        sudo wget -O /tmp/rootCA.jks "https://storage.googleapis.com/grabl-dev-secrets/rootCA.jks"
        bazel run //test:grakn-extractor -- dist/grakn-core-all-linux 
        cd ./dist/grakn-core-all-linux/
        SERVER_JAVAOPTS="-Djavax.net.ssl.trustStore=/tmp/rootCA.jks -Djavax.net.ssl.trustStorePassword=changeit" ./grakn server start -- \
          --tracing-uri $GRABL_TRACING_URI \
          --tracing-username $GRABL_OWNER \
          --tracing-access-token $GRABL_TOKEN
        export GRABL_EXPORT_PERFORMANCE_SMALL_GRAKN_URI="${HOSTNAME}:48555"
    test-performance-small-grakn:
      machine: graknlabs-ubuntu-20.04-long
      timeout: "18000"
      dependencies: [test-performance-small-grakn-background]
      script: |
#        sudo wget -O /tmp/rootCA.jks "https://storage.googleapis.com/grabl-dev-secrets/rootCA.jks"
#                "-Djavax.net.ssl.trustStore=/tmp/rootCA.jks -Djavax.net.ssl.trustStorePassword=changeit"
        bazel run --jvmopt //:simulation-small -- \
          --database grakn \
          --database-uri $GRABL_EXPORT_PERFORMANCE_SMALL_GRAKN_URI \
          --tracing-uri $GRABL_TRACING_URI \
          --org $GRABL_OWNER \
          --repo $GRABL_REPO \
          --commit $GRABL_COMMIT \
          --username $GRABL_OWNER \
          --api-token $GRABL_TOKEN \
          --config-file /home/grabl/$GRABL_REPO/config/config_small.yml
    test-performance-small-neo4j-background:
      machine: graknlabs-ubuntu-20.04-long
      type: background
      timeout: "18000"
      script: |
        sudo add-apt-repository -y ppa:openjdk-r/ppa
        curl https://cli-assets.heroku.com/apt/release.key | sudo apt-key add -
        curl https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo apt-get update
        wget -O - https://debian.neo4j.com/neotechnology.gpg.key | sudo apt-key add -
        echo 'deb https://debian.neo4j.com stable 4.1' | sudo tee -a /etc/apt/sources.list.d/neo4j.list
        sudo apt-get update
        sudo apt-get install -y neo4j=1:4.1.0
        sudo update-java-alternatives --jre --set java-1.11.0-openjdk-amd64
        echo 'dbms.connectors.default_listen_address=0.0.0.0' | sudo tee -a /etc/neo4j/neo4j.conf
        echo 'dbms.security.auth_enabled=false' | sudo tee -a /etc/neo4j/neo4j.conf
        ps aux | grep "org.neo4j.server" | awk '{print $2}' | xargs sudo kill -9 >/dev/null 2&>1 || true
        sudo neo4j start
        export GRABL_EXPORT_PERFORMANCE_SMALL_NEO4J_URI="bolt://${HOSTNAME}:7687"
    test-performance-small-neo4j:
      machine: graknlabs-ubuntu-20.04-long
      dependencies: [test-performance-small-neo4j-background]
      timeout: "18000"
      script: |
#        sudo wget -O /tmp/rootCA.jks "https://storage.googleapis.com/grabl-dev-secrets/rootCA.jks"
#                --jvmopt "-Djavax.net.ssl.trustStore=/tmp/rootCA.jks
        bazel run -Djavax.net.ssl.trustStorePassword=changeit" //:simulation-small -- \
          --database neo4j \
          --database-uri $GRABL_EXPORT_PERFORMANCE_SMALL_NEO4J_URI \
          --tracing-uri $GRABL_TRACING_URI \
          --org $GRABL_OWNER \
          --repo $GRABL_REPO \
          --commit $GRABL_COMMIT \
          --username $GRABL_OWNER \
          --api-token $GRABL_TOKEN \
          --config-file /home/grabl/$GRABL_REPO/config/config_small.yml
